$font-family-base:'Forum', serif;
$primary: #788aaf;
$tertiary: #0d112c;
$nav-underline-link-active-color: #788aaf;
$nav-link-hover-color: white;
$nav-tabs-border-color: #788aaf;
$box-shadow:0 1rem 1rem -1rem rgba(#788aaf, .15);
$box-shadow-lg:0 1rem 3rem rgba(white, .175);
$vr-border-width:2em;
@import "../node_modules/bootstrap/scss/bootstrap";